<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   oAuth2
  </title>
  <script src="https://cdn.tailwindcss.com">
  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <style>
   body {
            background-color: #1e1f22;
        }
  </style>
 </head>
 <body class="flex items-center justify-center min-h-screen">
  <a href="https://discord.com/oauth2/authorize?client_id=1325710410619555961&response_type=code&redirect_uri=http%3A%2F%2F127.0.0.1%3A8080%2Fapi%2Fdiscord%2Fauthorization&scope=identify+guilds.join">
   <button class="flex items-center px-4 py-2 bg-[#5865F2] text-white rounded-md hover:bg-[#4a55d4] focus:outline-none focus:ring-2 focus:ring-[#5865F2] focus:ring-opacity-50">
    <img class="w-5 h-5 mr-2" height="32" src="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/636e0a6ca814282eca7172c6_icon_clyde_white_RGB.svg" width="32"/>
    login
   </button>
  </a>
 </body>
</html>